/*
Color Palette

Light: #697565    Mid: #3C3D37    Dark: #1E201E    Text: #ECDFCC

*/

:root{
    --rust: rgb(227, 57, 0);
    --dark: #292f36ff;
    --white: #ECDFCC;
    --light: rgb(234, 93, 0);
    --black: rgb(11, 14, 14);
}

@font-face {
    font-family: 'Kalpurush';
    src: url('kalpurush.ttf');
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.namebar{
    width: 100vw;
    height: 8vh;
    background-color: var(--black);
    box-shadow: 0px 4px 4px #00000079;
    color: var(--rust);
    font-size: 1.5rem;
    position: absolute;
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 10;
}

.headless{
    position: absolute;
    margin-top: 8vh;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: baseline;
    font-size: 0.9rem;
}

.nav{
    height: 92vh;
    width: 20vw;
    background-color: var(--black);
    box-shadow: 4px 0px 8px;
    z-index: 9;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav li{
    height: auto;
    width: auto;
    padding: 8px;
    background-color: var(--rust);
    color: var(--black);
    word-wrap: normal;
    margin: 4px 0;
    margin-left: 0;
    transition: 0.3s;
    font-size: 1.2em;
}

.nav a{
    text-decoration: none;
}

.nav li:hover{
    background-color: var(--light);
}

.main{
    height: 92vh;
    width: 80vw;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    overflow-y: scroll;
}

.sec h1{
    font-size: 1.5rem;
    color: var(--white);
    margin: 15px 15px;
}

.sec{
    border-radius: 10px;
    margin: 10px;
    padding-top: 1px;
    padding: 3%;
    max-width: 800px;
}

.para{
    padding: 8px;
    margin: 0 8px;
    color: #ECDFCC;
    font-size: 1.2em;
    margin: 16px 0;
}

.bangla{
    font-family: 'Kalpurush';
}

.code{
    padding: 16px;
    background-color: #171817;
    color: #ECDFCC;
    font-family: monospace;
    margin: 8px;
    border-radius: 8px;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 800px;
}

.para .code{
    padding: 4px;
    background-color: #171817;
    color: #ECDFCC;
    font-family: monospace;
    border-radius: 2px;
    font-size: 0.8em;
}

.para a{
    color: aliceblue;
}

.sec .image{
    height: 270px;
    width: 480px;
    border-radius: 16px;
    margin: 30px 0;
    background-size: cover;
}

.page{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.page .btn{
    padding: 8px;
    border-radius: 4px;
    background-color: var(--rust);
    color: var(--black);
    font-size: 1.2em;
    margin: 20px;
    transition: 0.3s;
}

.page .btn:hover{
    background-color: var(--light);
}

.page a{
    text-decoration: none;
    color: #ECDFCC;
}


/* ----colors------*/

.purple{
    color: rgb(177, 56, 177);
}

.blue{
    color: rgb(84, 182, 221);
}

.green{
    color: rgb(114, 224, 95);
}